$colorprimary:rgb(243, 151, 108);
$colorsecondary: rgb(54, 69, 119);
$colortertiary: rgba(170, 134, 56, 0.6);
$colorbackground: white;
$colorfont: black;
$colorfolio: rgba(255, 255, 255, 0.4);
$colormorefolio: rgba(0, 0, 0, 0.6);