.decontact{
    height: 250px;
}

.formulaire{
    margin: 20px;
    input{
        height: 35px;
        margin: 10px 0;
    }
    button{
        margin-top: 20px;
        padding: 10px 20px;
        font-size:15px;
        color: $colorfont;
        background-color:$colorprimary;
    }
    .message{
        max-width: 450px;
    }
}

.notre-adresse{
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 50px;
}